.group-event-details {
    padding: 3px;
    display: flex;
    flex-direction: column;
    border: white solid 5px;
    background-color: white;
    border-radius: 30px;
    width: 50%;
    color: black;
}

.group-event-top {
    display: flex;
    padding: 15px;
    align-items: center;
    gap: 10px   ;
}

.event-Link {
    text-decoration: none;
}

.group-event-description {
    padding: 0 15px;
}

.eventImage-group {
    width: 200px;
    height: 150px;
}
