.group-form-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#locationVal {
    display: flex;
    flex-direction: column;
    gap: 10px;;
}

.desc-list {
    display: flex;
}

.form-sections {
    width: 100%;
}

button {
    align-self: flex-start;
}

.errors {
    color: red;
}
