.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-group-nav {
    /* border: red solid 1px; */
    width: 50%;
}

.nav-links {
    padding-right: 20px;
    font-size: 18px;
    text-decoration: none;
}

.groups-list {
    width: 60%;
}

.group-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.groupImg {
    padding: 10px;
    width: 50%;
}

.group-desc {
    width: 50%;
    padding: 10px;
}
