

.group-events-tile-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

.top-group-container {
    display: flex;
    justify-content: center;
    width: 75%;
    gap: 20px;
}

.top-group-container > img {
    width: 50%;
}

.top-group-info {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.join-group-button {

    height: 100%;
    display: flex;
}

.bottom-body {
    background-color: #EEEEEE;
    padding: 10px 10%;
}

button {
    align-self: flex-end;
}
