.groupImg {
    max-width: 400px;
    max-height: 250px ;
}

.group-name-list {
    font-weight: 500;
}

.group-about-list {
    width: 100%;
}

.group-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.group-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
