.modal-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 350px;
    gap: 5px ;
}

.button-container-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.delete-buttons {
    width: 322px;
    height: 40px;
    color: white;
    box-shadow: 2px 2px black;
}


#delete-confirm {
    background-color: #FF595E;
}

#delete-cancel {
    background-color: #666666;
}
