.main-event-body {
    width: 100%;
    background-color: white;
    padding: 10px 250px;
}

.big-image {
    max-width: 700px;
    max-height: 400px;
}

.total-body {
    background-color: #EEEEEE;
    width: fit-content;
}

.content-body2 {
    background-color: #EEEEEE ;
    padding: 10px 250px;
    margin-bottom: 0;
}

.event-container {
    background-color: #EEEEEE;
    padding-top: 10px;
}

.event-details-container {
    width: 40%;
}

.event-group-img {
    width: 110px;
    height: 75px;
}
.event-group-details {
    display: flex;
    padding: 10px 20px;
    border: #EEEEEE 5px solid;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.event-container {
    display: flex;
    /* border: green 1px solid; */
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.event-details {
    border: #EEEEEE 5px solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}



.event-detail {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.icon-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}

.minor-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.startend, .minor-detail, .minor-detail2 {
    color: rgb(156, 156, 156)
}

.date-container > p, .time-container > p{
    color: rgb(0, 0, 175);
}

.bottom-text {
    background-color: #EEEEEE
}

#delete-event-button {
    align-self: center
}

.crud-event {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.minor-detail2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.update-event-button {
    width: 100px;
    height: 30px;
    align-self: flex-end;
    background-color: grey;
    color: white;
    box-shadow: black 2px 2px ;
}
