.header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 0px 20px;
}

#meetup-logo {
    width: 100px;
}

.login-signup-button-container {
    display: flex;
    gap: 10px;
}


.new-group-and-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link-navigation {
    text-decoration: none;
}

.group-buttons-container {
    height: 100%;
    display: flex;
    gap: 10px;
}

.crud-buttons {
    align-self: flex-end
}

.hidden {
    display: none;
}
