.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    height: 265px;

}
/*
.login-form-container > * {
    font-size: medium;
} */

input {
    width: 340px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.log-in-button {
    align-self: center;
    width: 350px;
    height: 35px;
    color: white;
    background-color: #FF595E;
    box-shadow: 5px 5px black;
}

.log-in-button:disabled {
    background-color: lightgrey;
}

label {
    display: flex;
    flex-direction: column;
    font-size: small;
}

.error-message {
    color: red;
    font-size: smaller;
    margin: 0px;
}

.demoButton {
    align-self: center;
    width: fit-content;
    height: 30px;
    border: none;
    background-color: white;
}

.demoButton:hover {
    text-decoration: underline;
}
